:root {
    --bg-color-side-menu: #0C1427;
    --border-bottom-color-side-menu: #efefef;
    --font-color-side-menu: #7987a1;
    --hover-font-color-side-menu: #6571FF;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    font-size: 62.5%; /* Para que 1rem = 10px */
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
}

main {
    padding: 2rem;
}

.flex-1 {
    flex: 1;
}

.content {
    display: flex;
}

@media (width <= 768px) {
    .content {
        flex-direction: column;
    }
}

/* Side menu */

.side-menu {
    position: sticky;
    top: 0;
    width: 24rem;
    max-height: fit-content;
    min-height: 100vh;
    background-color: var(--bg-color-side-menu);
    display: flex;
    flex-direction: column;
    transition: width 0.2s ease-in;
}

@media (width <= 768px) {
    .side-menu {
        width: 100%;
        min-height: fit-content;
    }
}

.side-menu.active-side-menu {
    width: 8rem;
}

@media (width <= 768px) {
    .side-menu.active-side-menu {
        width: 100%;
    }
}

/* Side menu header */

.side-menu-header {
    padding: 2rem;
    color: var(--font-color-side-menu);
    border-bottom: 0.1rem solid var(--border-bottom-color-side-menu);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.active-side-menu .side-menu-header {
    justify-content: center;
}

@media (width <= 768px) {
    .active-side-menu .side-menu-header {
        justify-content: space-between;
    }
}

.side-menu-header .side-menu-header-name {
    margin: 0;
    font-size: 1.8rem;
}

.active-side-menu .side-menu-header-name{
    display: none;
}

@media (width <= 768px) {
    .active-side-menu .side-menu-header-name {
        display: block;
    }
}

.side-menu-header .menu {
    font-size: 2.2rem;
    transition: color ease-in 0.3s;
}

.side-menu-header .menu:hover {
    cursor: pointer;
    color: var(--hover-font-color-side-menu);
}

/* Side menu body */
.side-menu-body {
    background-color: var(--bg-color-side-menu);
    overflow: auto;
}

@media (width <= 768px) {
    .side-menu-body {
        width: 100%;
        height: 0;
        flex: none;
    }
}

.active-side-menu .side-menu-body {
    width: 8rem;
    transition: width 0.2s ease-in;
}

.side-menu-body.side-menu-hover {
    width: 24rem;
    transition: width 0.2s ease-in;
}

@media (width <= 768px) {
    .active-side-menu .side-menu-body {
        width: 100%;
        height: 100%;
    }
}

.side-menu-options, .side-menu-option {
    list-style: none;
}

.side-menu-options {
    padding: 0;
}

.side-menu-option {
    padding: 1rem 2rem;
}

.arrow-icon {
    transition: transform ease-in 0.3s;
}

.side-menu-option:has(.active) > .option,
.side-menu-option.active > .option {
    color: var(--hover-font-color-side-menu);
}

.side-menu-option:has(.active) > .option .arrow-icon,
.side-menu-option.active > .option .arrow-icon {
    transform: rotate(180deg);
}

.side-menu-option .option {
    color: var(--font-color-side-menu);
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: color ease-in 0.3s;
}

.side-menu-option .option:hover {
    color: var(--hover-font-color-side-menu);
}

.active-side-menu .side-menu-option .option {
    justify-content: center;
    flex-direction: column;
}

.side-menu-body.side-menu-hover .side-menu-option .option {
    justify-content: start;
    flex-direction: row;
}

@media (width <= 768px) {
    .active-side-menu .side-menu-option .option {
        justify-content: start;
        flex-direction: row;
    }
}

.option .icon-name {
    flex: 1;
}

.option .icon-name i {
    margin-right: 0.5rem;
}

.active-side-menu .option .icon-name i {
    margin: 0;
    display: block;
    text-align: center;
}

.side-menu-body.side-menu-hover .option .icon-name i {
    margin-right: 0.5rem;
    display: inline-block;
    text-align: start;
}

@media (width <= 768px) {
    .active-side-menu .option .icon-name i {
        margin-right: 0.5rem;
        display: inline-block;
        text-align: center;
    }
}

/* Submenu */

.side-menu-option .submenu {
    display: none;
}

.side-menu-option.active > .submenu {
    display: block;
}

.side-menu-option:has(.active) > .submenu {
    display: block;
}

.submenu {
    margin-top: 0.5rem;
}

.submenu .side-menu-option {
    padding: 0.3rem 0 0 3rem;
}

.side-menu-options.submenu .side-menu-options.submenu .side-menu-option{
    padding: 0.3rem 0 0 1.5rem;
}

.side-menu.active-side-menu .submenu {
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in;
}

.side-menu-body.side-menu-hover .submenu {
    height: auto;
    opacity: 1;
    visibility: visible;
}

@media (width <= 768px) {
    .side-menu.active-side-menu .submenu {
        height: auto;
        opacity: 1;
        visibility: visible;
    }
}